#project2Image{
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
}

.modalImg{
  margin-bottom: 4%;
}


@media screen and (orientation: portrait) {
  .modalImge{
    margin-bottom: 5%;
  }

  #formContainer{
    margin-top: 900px;
    /*background-color: red;*/
  }

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .projectCard{
      cursor: pointer;
      display: flex;
      align-contents: center;
      justify-content: center;
      margin-bottom: 5%;
      margin-top: 5%;
    }

    .thumbnail{
      width: 380px;
      align-self: center;
    }


}

.thumbnail1{
  height: 260px;
}




.projectCard{
  cursor: pointer;
  height: 260px;
}
