img{
  /*width: 250;
  height: 400px;*/
  width: 100%;
  object-fit: cover;
}

p{
  text-align: justify;
}

.hi{
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}


#WDIGrad{
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}



.flexRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#profile_left {
  width: 60%;
}

#profile_right {
  width: 25%;
  height: 100%;
}

#homepageContainer{
  margin-bottom: 12%;
}


@media screen and (orientation: portrait) {
  .hi{
    font-size:2em;
  }

  #WDIGrad{
    font-size: 1.5em;
  }

  .flexRow {
  }

  #profile_left {
    width: 100%;
  }

  #profile_right {
    order: -1;
    width: 100%;
  }

  #homepageContainer{
    margin-top: 10%;
  }

  img{
    align-content: center;
  }

}

#resume{
  margin-right: 2%;
}
